.App {
  text-align: center;
}
.h6{
  text-decoration: wavy;
}
footer{
  padding-top: 10px;
  position:fixed;
left:0;
bottom:0;
right:0;
background-color: black;
color: white;
padding-bottom:50px;
top: calc(100% - 50px)!important;
margin-top:10px!important

}